* {
    margin: 0;
    padding: 0;
}

main {
    background-color: burlywood;
    margin: auto;
}

section {
    max-width: 1700px;
    margin: auto;
}

/*Estilos para todas as seções*/
.sections {
    background-color: brown;
    padding: 10px;
    border-radius: 6px;
}

#container-first {
    display: flex;
    background-color: aqua;
}

/*Estilo para o texto da primeira seção*/
#introduction {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}
